<!-- Menus -->
<!-- <app-card title="Responsive Nav">
    <app-responsive-top-nav [responsive]="true"></app-responsive-top-nav>
</app-card>
<app-card title="Icon Bar">
    <app-icon-bar [horizontal]="true"></app-icon-bar>
</app-card>
<app-card title="Menu Icon">
    <app-menu-icon></app-menu-icon>
</app-card>
<app-card title="Accordion">
    <app-accordion></app-accordion>
</app-card>
<app-card title="Tabs">
    <app-tabs></app-tabs>
</app-card>


<app-card title="Slideshow">
    <app-slideshow></app-slideshow>
</app-card>


<app-card title="Social Media Buttons">
    <app-social-media-buttons></app-social-media-buttons>
</app-card>


<app-card title="Contact Card">
    <app-contact-card></app-contact-card>
</app-card> -->
<app-fixed-sidebar></app-fixed-sidebar>